*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open sans,sans-serif;
}

ul li{
    list-style: none;
}
a{
    text-decoration: none;
}

/*menu mobile*/
.menu__bars{
    display: none;
}
.menu__mobile{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 0 15px #0000004d;
    background-color: #fff;
    width: 100%;
    height: auto;
    overflow-y: scroll;
    z-index: 2;
}
.menu__mobile .sub__menu__mobile{
    font-size: 14px;
    padding: 15px 20px;
    font-weight: 500;
    color: #505050;
    border-top: 1px solid #dbeefd;
}
.menu__mobile a{
    color: #505050;
}


.show__menu__child .menu__mobile__title{
    padding: 15px 20px;
}
.menu__mobile__title i{
    float: right;
    clear: both;
    margin-top: 2px;
    transition: all linear 0.3s;
}

.rotate__icon{
    transform: rotate(90deg);
    transition: all linear 0.3s;
}

.dropdown__mobile{
    display: none;
    height: 100%;
    width: 100%;
}
.dropdown__mobile li{
    /* display: none; */
    padding: 15px 0 15px 40px;
    border-top: 1px solid #dbeefd;
}

.show__menu__child{
    display: block;
    padding: 0 !important;
}

.sub__menu__mobile.show__menu__child .dropdown__mobile{
    display: block;
}


.book__now__header__mobile a{
    width: max-content;
    position: relative;
    padding: 15px 50px;
    background-color: #b56952;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    display: block;
    z-index: 1;
}
.book__now__header__mobile a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #1b2132;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -1;
    transition: all linear 0.3s;
}
.book__now__header__mobile a:hover::before{
    width: 100%;
    opacity: 1;
    transition: all linear 0.5s;
}
.book__now__header__mobile a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #1b2132;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    transition: all linear 0.3s;
}
.book__now__header__mobile a:hover::after{
    width: 100%;
    opacity: 1;
    transition: all linear 0.5s;
}
/*end menu mobile*/



header{
    height: 45px;
    background-color: #1b2132;
}

/*header*/
.header{
    width: 95%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.language{
    width: 20%;
    position: relative;
}
.choose__language{
    width: max-content;
    display: flex;
    align-items: center;
    height: 45px;
    color: #fff;
    gap: 5px;
    cursor: pointer;
}
.choose__language p{
    font-size: 15px;
}
.choose__language i{
    transition: all linear 0.2s;
}
.list__language{
    opacity: 0;
    position: absolute;
    top: 100%;
    left: -30px;
    background-color: #fff;
    box-shadow: 0 0 29px 0 rgb(102 102 102 / 10%);
    border-radius: 0;
    width: 125px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    transform-origin: 50% 0;
    transform: scale(.75) translateY(-21px);
    transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1),opacity .15s ease-out;
    z-index: 1;
}
.index__lg{
    z-index: 101;
}
.list__language li{
    padding: 10px 20px;
    border-bottom: 1px solid #e1e1e1;
}
.list__language li:last-child{
    border: none;
}
.list__language li a{
    color: #292323;
}
.list__language li:hover a{
    color: #b56952;
    transition: all linear 0.3s;
}
.open__language{
    opacity: 1;
    transform: scale(1) translateY(0);
}
.rotate__icon{
    transform: rotate(-180deg);
    transition: all linear 0.2s;
}


.location__header{
    width: 80%;
    height: 100%;
}
.location__header ul{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.location__header ul li{
    border-right: 1px solid #fff;
    padding: 0 15px;
}
.location__header ul li i{
    color: #fff;
    margin-right: 5px;
}
.location__header ul li a{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.location__header ul li:last-child{
    border: none;
}
/*end header*/


/*navbar*/

.navbar{
    height: 75px;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 0 15px #0000004d;
    z-index: 100;
    background-color: #fff;
}
.navbar__header{
    position: relative;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.logo{
    width: 15%;
}
.logo img{
    object-fit: cover;
}
.menu{
    width: 70%;
    height: 100%;
}
.list__menu{
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 0 auto;
}
.dropdown__menu{
    opacity: 0;
    /* display: none; */
    position: absolute;
    top: 100%;
    left: 0;
    transform: scale(0);
    transition: all linear 0.3s;
    width: 250px;
    background-color: #fff;
    box-shadow: 0 0 30px 0 #0000000d;
}
.dropdown__menu li a{
    color: #212529;    
}
.dropdown__menu li a:hover{
    color: #ee786c;
    transition: all linear 0.3s;
}
.dropdown__menu li{
    padding: 10px 15px;
    border-bottom: 1px dashed #ee786c4f;
}
.sub__menu{
    position: relative;
}
.sub__menu i{
    font-size: 12px;
}
.sub__menu .sub__menu__title{
    line-height: 75px;
    color: #212529;
}
.sub__menu .sub__menu__title:hover{
    color: #ee786c;
}
.sub__menu:hover .dropdown__menu{
    opacity: 1;
    transform: scale(1);
}




.book__now__header{
    width: 15%;
}
.book__now__header a{
    width: max-content;
    position: relative;
    padding: 15px 30px;
    background-color: #ee786c;
    font-size: 16px;
    color: #fff;
    display: block;
    float: right;
    clear: both;
    z-index: 1;
}
.book__now__header a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    background-color: #1b2132;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -1;
    transition: all linear 0.3s;
}
.book__now__header a:hover::before{
    width: 100%;
    opacity: 1;
    transition: all linear 0.5s;
}
.book__now__header a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    background-color: #1b2132;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    transition: all linear 0.3s;
}
.book__now__header a:hover::after{
    width: 100%;
    opacity: 1;
    transition: all linear 0.5s;
}
/*end navbar*/

/*banner*/
.banner__detail__service{
    /*background-image: url('../img/banner-detail-services.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 2.5%;
    z-index: 1;
}
.banner__detail__service::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #1b2132;
    opacity: .5;
    z-index: -1;
}
.detail__services__content{
    padding: 150px 0;
}
.path__detail__services{
    width: 100%;
    display: flex;
    gap: 15px;
}
.path__detail__services a, .path__detail__services p{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.path__detail__services i{
    font-size: 12px;
    margin-left: 10px;
}
.detail__services__content h3{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}
/*end banner*/


/*detail services*/
.detail__services{
    margin-top: 100px;
}
.main__detail__services{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.left__detail__services{
    width: 68%;
}
.slider__image__services img{
    height: auto;
}

.search__services{
    padding: 20px;
    background-color: #f5f5f5;
    position: relative;
    margin-bottom: 30px;
}
.search__services input{
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #292323;
    font-weight: 400;
}
.search__services i{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 42px;
    height: 42px;
    background-color: #ee786c;
    color: #fff;
    text-align: center;
    line-height: 42px;
}
.left__detail__services h2{
    font-size: 26px;
    font-family: "noto serif";
    font-weight: 700;
    color: #292323;
    margin: 20px 0;
}
.detail__services__des p{
    font-size: 16px;
    color: #555555;
    line-height: 28.8px;
    margin-bottom: 20px;
}
.article{
    background-color: #fef7f6;
    padding: 30px;
    position: relative;
    z-index: 1;
}
.article::before{
    content: '\f10e';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    font-family: "fontawesome";
    text-align: center;
    opacity: 0.2;
    color: #ee786c;
    z-index: -1;
}
.article::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: #ee786c;
}
.article p{
    font-size: 20px;
    color: #555555;
    font-weight: 500;
    line-height: 36px;
}
.our__facilities p{
    font-size: 16px;
    color: #555555;
    line-height: 28.8px;
}
.our__facilities ul{
    margin: 20px 0;
}
.our__facilities ul li{
    padding: 10px 0;
    color: #555555;
    font-size: 16px;
}
.our__facilities ul li i{
    color: #ee786c;
    margin-right: 5px;
}
.our__facilities ul li:hover{
    color: #ee786c;
}
.our__facilities ul li:hover i{
    color: #292323;
}
.list__related__services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.related__services__card{
    width: 49%;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
}
.related__services__card i{
    font-size: 65px;
    color: #b56952;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
}
.related__service__title{
    display: block;
    font-size: 22px;
    font-family: "noto serif";
    font-weight: 800;
    color: #292323;
    margin: 15px 0;
}
.related__services__card p{
    font-size: 16px;
    color: #555555;
    line-height: 28.8px;
    margin-bottom: 15px;
}
.related__services__card:hover{
    background-color: #fff;
    box-shadow: 0 0 15px #0000001a;
}
.related__services__card:hover i{
    background-color: #f5f5f5;
}
.get__services a{
    font-size: 16px;
    color: #b56952;
    position: relative;
    transition: all linear 0.3s;
}
.get__services a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: #b56952;
    width: 100%;
    height: 1px;
}
.get__services a:hover{
    letter-spacing: 1.1px;
    transition: all linear 0.3s;
    color: #292323;
}
.get__services a:hover::before{
    background-color: #292323;
}

.right__detail__services{
    width: 28%;
}

.other__services{
    padding: 20px;
    background-color: #f5f5f5;
    margin-bottom: 35px;
}
.other__services h3{
    font-size: 20px;
    font-family: "noto serif";
    font-weight: 700;
    color: #292323;
    margin-bottom: 15px;
}
.other__services ul li{
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px;
    background-color: #fef7f6;
    border: 1px solid #ee786c7a;
    margin-bottom: 10px;
}
.other__services ul li a{
    color: #292323;
}
.other__services ul li:hover{
    background-color: #ee786c;
    transition: all linear 0.3s;
}
.other__services ul li:hover a{
    color: #fff;
}
.download__brochures{
    padding: 20px;
    background-color: #f5f5f5;
}
.download__brochures h3{
    font-size: 20px;
    font-family: "noto serif";
    font-weight: 700;
    color: #292323;
    margin-bottom: 15px;
}

.download__brochures ul li{
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px;
    background-color: #fef7f6;
    border: 1px solid #ee786c7a;
    margin-bottom: 10px;
}
.download__brochures ul li a{
    color: #292323;
    display: flex;
    justify-content: space-between;
}
.download__brochures ul li:hover{
    background-color: #ee786c;
    transition: all linear 0.3s;
}
.download__brochures ul li:hover a{
    color: #fff;
}
/*end detail services*/



/*footer*/
footer{
    background-color: #1b2132;
    margin-top: 50px;
}
.main__footer{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 100px 0 70px 0;
}
.location__footer,
.footer__links,
.newsletter,
.useful__links{
    width: 25%;
}

.location__footer h3,
.footer__links h3,
.newsletter h3,
.useful__links h3{
    font-size: 24px;
    font-family: "noto serif";
    font-weight: 800;
    color: #fff;
    margin-bottom: 30px;
}

.location__footer img{
    object-fit: cover;
}
.location__footer p{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    margin: 15px 0;
    line-height: 28.8px;
}
.location__footer ul li,
.location__footer ul li a,
.footer__links ul li,
.footer__links ul li a,
.useful__links ul li,
.useful__links ul li a,
.newsletter ul li,
.newsletter ul li a{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}
.location__footer ul li,
.footer__links ul li,
.useful__links ul li,
.newsletter ul li{
    margin-bottom: 15px;
}
.location__footer ul li i{
    margin-right: 10px;
}
.newsletter p{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 28.8px;
    margin-bottom: 15px;
}
.newsletter input{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: #212529;
    padding-left: 15px;
    font-size: 16px;
    margin-bottom: 15px;
}
.newsletter button{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #ee786c;
    padding-left: 15px;
    font-size: 16px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.newsletter button::before{
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    background-color: #1b2132;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -1;
    transition: all linear 0.3s;
}
.newsletter button:hover::before{
    width: 100%;
    opacity: 1;
    transition: all linear 0.5s;
}
.newsletter button::after{
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    background-color: #1b2132;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    transition: all linear 0.3s;
}
.newsletter button:hover::after{
    width: 100%;
    opacity: 1;
    transition: all linear 0.5s;
}


.end__footer{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    border-top: 1px solid #b56952;
    padding: 20px 0;
}
.end__footer p{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}
.end__footer ul{
    display: flex;
    gap: 10px;
}
.end__footer ul li{
    text-align: center;
    line-height: 35px;
}
.end__footer ul li a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: block;
}
.end__footer ul li:hover a{
    background-color: #fff;
    transition: all linear 0.4s;
}
.end__footer ul li:hover i{
    color: #1b2132;
}
.end__footer ul li i{
    color: #fff;
}
.main__footer ul li:hover a,
.main__footer ul li:hover i{
    color: #b56952;
    transition: all linear 0.3s;
}
/*end footer*/

.back-to-top{
    height: 45px;
    width: 45px;
    position: fixed;
    bottom: 20px;
    right: 0px;
    border: none;
    background-color: #1b2132;
    color: #FFF;
    border-radius: 50%;
    box-shadow: 0 0 15px #1b2132;
    transition: all linear 0.3s;
    transform: translateX(20px,0);
    opacity: 0;
    overflow: hidden;
    z-index: 30;
    transform-origin: center center;
}

.back-to-top i{
    -webkit-text-stroke: 0px #fff;
}

.back-to-top:hover{
    cursor: pointer;
    background-color: #b56952;
}

.btn-active.animate{
    -webkit-transform: translate(-20px, 0);
    transition: all linear 0.3s;
    opacity: 1;
}


@media only screen and (max-width: 820px){
    .detail__services{
        margin-top: 50px;
    }
    .main__detail__services{
        width: 85%;
        gap: 30px;
    }
    .left__detail__services,
    .right__detail__services{
        width: 100%;
    }
    .detail__services__des p,
    .our__facilities p,
    .our__facilities ul li,
    .related__services__card p{
        font-size: 14px;
    }
    .list__related__services{
        gap: 30px;
    }
    .related__service__title{
        font-size: 19px;
    }
    .related__services__card{
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 768.98px){
    .path__detail__services a, .path__detail__services p{
        font-size: 16px;
    }
    .detail__services__content h3{
        font-size: 26px;
    }
    .detail__services__content{
        padding: 60px 0;
    }
    .main__detail__services{
        width: 90%;
    }
}

@media only screen and (max-width: 414.98px){
    .main__detail__services{
        width: 95%;
    }
    .article p{
        font-size: 17px;
    }
    .main__footer, .end__footer{
        width: 95%;
    }
    .location__footer, .footer__links, .newsletter, .useful__links{
        width: 100% !important;
        margin-bottom: 15px;
    }
    .location__footer h3, .footer__links h3, .newsletter h3, .useful__links h3{
        font-size: 22px;
    }
    .location__footer p,
    .end__footer p,
    .location__footer ul li,
    .location__footer ul li a,
    .footer__links ul li,
    .footer__links ul li a,
    .useful__links ul li,
    .useful__links ul li a,
    .newsletter ul li,
    .newsletter ul li a {
        font-size: 14px;
    }
    .main__footer{
        padding: 30px 0 0 0 !important;
    }
    .end__footer{
        justify-content: center;
        text-align: center;
        gap: 10px;
    }
}

@media only screen and (max-width: 991px){
    .navbar{
        box-shadow: none;
    }
    .menu__mobile{
        box-shadow: 0 1px #0000004d;
    }
    .navbar__header{
        width: 100%;
        padding: 0 2.5%;
    }
    .menu__bars{
        display: block;
        cursor: pointer;
    }
    .menu__bars i{
        font-size: 32px;
        color: #1b2132;
    }
    .header{
        width: 100%;
        justify-content: center;
        gap: 50px;
    }
    .language, .location__header{
        max-width: max-content;
    }
    .location__header ul li{
        border: none;
        padding: 0 5px;
    }
    .menu, .book__now__header{
        display: none;
    }
    .main__footer{
        padding: 60px 0;
    }
    .main__footer,
    .end__footer{
        width: 85%;
    }
    .location__footer, .footer__links, .newsletter, .useful__links{
        width: 47%;
    }
}

@media only screen and (max-width: 720px){
    .location__header{
        width: 95%;
    }
    header{
        height: max-content;
    }
    .header{
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .location__header ul{
        flex-direction: column;
        gap: 10px;
        padding-bottom: 10px;
    }
    .location__header ul li{
        border: none;
    } 
}