<div class="sidebar">
    <div class="check-room">
        <div class="check-room-form">
            <form action="/booking" id="check-room" method="get">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <input name="CheckIn" type="text" id="ctr_search_small_TxtNgaydi" class="awe-calendar from" placeholder="Arrival Date" />
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <input name="CheckOut" type="text" id="ctr_search_small_TxtNgayve" class="awe-calendar to" placeholder="Departure Date" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <select name="Adult" id="ctr_search_small_DrlNguoilon" class="awe-select">
                            <option selected="selected" value="">Adults</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>

                        </select>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <select name="Child" id="ctr_search_small_DrlTreem" class="awe-select">
                            <option selected="selected" value="">Children</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>

                        </select>
                    </div>
                </div>

                <div class="">
                    <button type="submit" id="ctr_search_small_LinkButton1" class="awe-btn awe-btn-13">FIND THE BEST RATE</button>
                </div>
            </form>
        </div>
    </div>
</div>