@model TeamplateHotel.Areas.Administrator.EntityModel.EComment
@{
    Layout = "~/Areas/Administrator/Views/Templates/_LayoutPage.cshtml";
}
<div id="jtable-main-container"></div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#jtable-main-container').jtable({
            title: '@ViewBag.Title',
            paging: true, //Enable paging
            pageSize: 20, //Set page size (default: 10)
            sorting: true, //Enable sorting
            selecting: true, //Enable selecting
            multiselect: true, //Allow multiple selecting
            selectingCheckboxes: true, //Show checkboxes on first column
            columnResizable: false, //Actually, no need to set true since it's default
            columnSelectable: true, //Actually, no need to set true since it's default
            saveUserPreferences: false, //Actually, no need to set true since it's default

            actions: {
                listAction: '@Url.Action("List", "Cment")',
                deleteAction: '@Url.Action("Delete", "Cment")',
            },
            fields: {
                ID: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                Name: {
                    title: 'Tên',
                    width: '20%',
                },
                Email: {
                    title: 'Email',
                    width: '20%',
                },
                Website: {
                    title: 'Website',
                    width: '20%',
                },
                Comment1: {
                    title: 'Nội dung bình luận',
                    width: '20%',
                },

            }
        });
        //Load data
        $('#jtable-main-container').jtable('load');
    });

</script>