@using TeamplateHotel.Handler
@using ProjectLibrary.Database
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    Menu menu = ViewBag.Menu ?? new Menu();
}

<!-- Internal Page Header -->
<div class="internal-page-title about-page">
    <h1>Messages</h1>
    <ol class="breadcrumb">
        <!-- Internal Page Breadcrumb -->
        <li><a href="/">Home</a></li>
        <li class="active">Messages</li>
    </ol>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <article class="post">
                <h2>Messages</h2>
                <strong>@Html.Raw(TempData["Message"])</strong>
            </article>
        </div>
    </div>
</div>




