@using ProjectLibrary.Database
@using TeamplateHotel.Handler
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    Menu menu = ViewBag.Menu ?? new Menu();
}

<!-- Internal Page Header -->
@Html.Partial("header")
<main>
    <div style="text-align:center">
        <p style="line-height:50px; font-size:50px;margin-left:100px">
            @Html.Raw(ViewBag.Messages)
        </p>
    </div>
    
</main>




